<p id="notice"><%= notice %></p>

<div class="body-content">
  <div class="log-out"><%= link_to 'Log out', destroy_user_session_path, method: :delete %></div>
  <br>

  <!--Navigation bar -->
  <div class="nav-bar active-page"><%= link_to "Cars", cars_url %></div>
  <div class="nav-bar"><%= link_to "Car Makes", makes_url %></div>
  <div class="nav-bar"><%= link_to "Car Parts", parts_url %></div>

  <div class="page-content">
    <h1>Cars</h1>

    <!--Search function -->
    <%= form_tag(search_cars_url, method: "get") do %>
      <%= label_tag(:query, "Search for car models:") %>
      <%= text_field_tag(:query) %>
      <%= submit_tag("Search") %>
    <% end %>
    <br>

    <table>
      <thead>
        <tr>
          <th>Model</th>
          <th>Make</th>
          <th>Country of Origin</th>
          <th>Vin</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td><%= car.model %></td>
            <td><%= car.make.name %></td>
            <td><%= car.make.country %></td>
            <td><%= car.vin %></td>
            <td class="links"><%= link_to 'Show', car %></td>
            <td class="links"><%= link_to 'Edit', edit_car_path(car) %></td>
            <td class="links"><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="links"><%= link_to 'New Car', new_car_path %></div>
  </div>
</div>